{
  "title": "UpdaterButton",
  "button_text": "Run Updates Now",
  "command": ["/home/{{ sway_user }}/.config/bbe/scripts/fedora-flatpak-auto-update.sh"],
  "working_dir": null,
  "success_msg": "All updates installed. Rebooting if needed.",
  "success_exit_codes": [0]
}
