{
  "apps": [
    {
      "name": "VacuumTube",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=startvacuumtube --file-forwarding rocks.shy.VacuumTube --fullscreen",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "Jellyfin Media Player",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=jellyfinmediaplayer com.github.iwalton3.jellyfin-media-player --fullscreen --tv",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "RetroArch",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=retroarch --file-forwarding org.libretro.RetroArch --fullscreen",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "VLC media player",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/vlc --file-forwarding org.videolan.VLC --fullscreen --stop-and-exit",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "Arte.Tv",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser --app=https://arte.de",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "Update Manager",
      "path": "/home/user/.local/bin/py_update_manager",
      "icon": "",
      "category": "Other"
    },
    {
      "name": "Netflix",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser --app=https://netflix.de",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "Prime Video",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser --app=https://www.primevideo.com",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "Disney+",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser --app=https://www.disneyplus.de",
      "icon": "/usr/bin/flatpak",
      "category": "Other"
    },
    {
      "name": "Arte.Tv Kiosk",
      "path": "/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=brave com.brave.Browser --kiosk https://arte.tv",
      "icon": "",
      "category": "Other"
    }
  ],
  "steamgriddb_api_key": "{{ steamgriddb_api_key_prompt }}",
  "show_clock": true,
  "auto_download": true,
  "tile_glow": true,
  "sound_effects": false,
  "fullscreen": true,
  "show_weather": false,
  "weather_city": "Milan",
  "weather_country_code": "IT",
  "weather_units": "metric",
  "background": "",
  "auto_change_wallpaper": false,
  "wallpaper_interval": 300000,
  "categories": [
    {
      "name": "All",
      "icon": "\ud83c\udfae",
      "color": "#ffffff"
    },
    {
      "name": "Games",
      "icon": "\ud83c\udfae",
      "color": "#4CAF50"
    },
    {
      "name": "Media",
      "icon": "\ud83c\udfac",
      "color": "#2196F3"
    },
    {
      "name": "Programs",
      "icon": "\ud83d\udcbc",
      "color": "#FF9800"
    },
    {
      "name": "Other",
      "icon": "\ud83d\udce6",
      "color": "#9E9E9E"
    }
  ]
}
